PORT=8000
NODE_ENV=production

SECURITY_SECRET=
SECURITY_SALT_ROUNDS=10

MONGO_URL=mongodb://mongo:27017/hiresmart

WEB_URL=https://hiresmart.app
MOBILE_URL=https://mobile.hiresmart.app
API_URL=https://api.hiresmart.app

EMAIL_ON=1
EMAIL_TEST=someone@example.com
EMAIL_HOST=smtp.mailgun.org
EMAIL_USER=
EMAIL_PASSWORD=
